[submodule "sliver-orchestrator-workspace"]
	path = sliver-orchestrator-workspace
	url = https://github.com/lcensies/sliver-orchestrator-workspace
[submodule "frontend"]
	path = frontend
	url = https://github.com/NikitaNekhay/flexible-platform
